# Homework 1
CS 329E - Element of Data Analysis

## Practice loading in data
Using the file flights.csv load it into a pandas data frame

## Your Name Here

Student Name: John "Jack" Mayberry

Student UT EID: jmm23398

---

Partner Name: Lily Nguyen

Partner UT EID: lmn934

---

Date Created: 6/10/25

Date Last Modified: 6/10/25

---

Total Points 20.

In [1]:
import pandas as pd

import numpy as np

import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('flightsSmall30k.csv')
df

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,...,408.0,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,...,741.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,1,4,US,840,N171US,SFO,CLT,20,...,811.0,5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,20,...,756.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,25,...,259.0,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299995,2015,1,20,2,WN,651,N7734H,PIT,ATL,1615,...,1800.0,-10.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
299996,2015,1,20,2,AA,65,N3CSAA,JFK,DFW,1615,...,1908.0,-23.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
299997,2015,1,20,2,AA,165,N3LNAA,BOS,LAX,1615,...,1929.0,-20.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
299998,2015,1,20,2,AA,103,N437AA,MSY,DFW,1615,...,1758.0,0.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
299999,2015,1,20,2,AA,379,N860AA,SFO,DFW,1615,...,2109.0,-24.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 31 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   YEAR                 300000 non-null  int64
 1   MONTH                300000 non-null  int64
 2   DAY                  300000 non-null  int64
 3   DAY_OF_WEEK          300000 non-null  int64
 4   AIRLINE              300000 non-null  object
 5   FLIGHT_NUMBER        300000 non-null  int64
 6   TAIL_NUMBER          299505 non-null  object
 7   ORIGIN_AIRPORT       300000 non-null  object
 8   DESTINATION_AIRPORT  300000 non-null  object
 9   SCHEDULED_DEPARTURE  300000 non-null  int64
 10  DEPARTURE_TIME       294561 non-null  float64
 11  DEPARTURE_DELAY      294561 non-null  float64
 12  TAXI_OUT             294390 non-null  float64
 13  WHEELS_OFF           294390 non-null  float64
 14  SCHEDULED_TIME       300000 non-null  int64
 15  ELAPSED_TIME         293634 non-null  float64
 16  AIR_TIME             293634 non-null  float64
 17  DISTANCE             300000 non-null  int64
 18  WHEELS_ON            294130 non-null  float64
 19  TAXI_IN              294130 non-null  float64
 20  SCHEDULED_ARRIVAL    300000 non-null  int64
 21  ARRIVAL_TIME         294130 non-null  float64
 22  ARRIVAL_DELAY        293634 non-null  float64
 23  DIVERTED             300000 non-null  int64
 24  CANCELLED            300000 non-null  int64
 25  CANCELLATION_REASON  5686 non-null    object
 26  AIR_SYSTEM_DELAY     72243 non-null   float64
 27  SECURITY_DELAY       72243 non-null   float64
 28  AIRLINE_DELAY        72243 non-null   float64
 29  LATE_AIRCRAFT_DELAY  72243 non-null   float64
 30  WEATHER_DELAY        72243 non-null   float64
dtypes: float64(15), int64(11), object(5)
memory usage: 71.0+ MB

## Q1 - How many unique Airlines are there in this dataset? (2 points)

In [4]:
print(f"There are {df['AIRLINE'].unique().size} unique Airlines in this dataset.")

There are 14 unique Airlines in this dataset.

## Q2 - What is the mean departure delay of all flights considering only the positive departure delay values? (2 points)
Negative delay value means that the flight left earlier than scheduled.

In [5]:
pos_delay = df[df['DEPARTURE_DELAY'] > 0]['DEPARTURE_DELAY'].mean()
print(f"The mean departure delay is {pos_delay:.3f}.")

The mean departure delay is 34.803.

# Q3 - Find a list of all airport (Origin or destination airports). (2 points)
The returned value should be a list in Python.

In [20]:
airport_array = np.unique(np.concatenate((df["ORIGIN_AIRPORT"], df["DESTINATION_AIRPORT"])))
result = airport_array.tolist()

print(result)

['ABE', 'ABI', 'ABQ', 'ABR', 'ABY', 'ACT', 'ACV', 'ACY', 'ADK', 'ADQ', 'AEX', 'AGS', 'ALB', 'ALO', 'AMA', 'ANC', 'APN', 'ASE', 'ATL', 'ATW', 'AUS', 'AVL', 'AVP', 'AZO', 'BDL', 'BET', 'BFL', 'BHM', 'BIL', 'BIS', 'BJI', 'BLI', 'BMI', 'BNA', 'BOI', 'BOS', 'BPT', 'BQK', 'BQN', 'BRD', 'BRO', 'BRW', 'BTM', 'BTR', 'BTV', 'BUF', 'BUR', 'BWI', 'BZN', 'CAE', 'CAK', 'CDC', 'CDV', 'CEC', 'CHA', 'CHO', 'CHS', 'CID', 'CIU', 'CLD', 'CLE', 'CLL', 'CLT', 'CMH', 'CMI', 'CMX', 'CNY', 'COD', 'COS', 'COU', 'CPR', 'CRP', 'CRW', 'CSG', 'CVG', 'CWA', 'DAB', 'DAL', 'DAY', 'DBQ', 'DCA', 'DEN', 'DFW', 'DHN', 'DIK', 'DLH', 'DRO', 'DSM', 'DTW', 'DVL', 'EAU', 'ECP', 'EGE', 'EKO', 'ELM', 'ELP', 'ERI', 'ESC', 'EUG', 'EVV', 'EWN', 'EWR', 'EYW', 'FAI', 'FAR', 'FAT', 'FAY', 'FCA', 'FLG', 'FLL', 'FNT', 'FSD', 'FSM', 'FWA', 'GCC', 'GCK', 'GEG', 'GFK', 'GGG', 'GJT', 'GNV', 'GPT', 'GRB', 'GRI', 'GRK', 'GRR', 'GSO', 'GSP', 'GTF', 'GTR', 'GUC', 'GUM', 'HDN', 'HIB', 'HLN', 'HNL', 'HOB', 'HOU', 'HPN', 'HRL', 'HSV', 'HYS', 'IAD', 'IAG', 'IAH', 'ICT', 'IDA', 'ILG', 'ILM', 'IMT', 'IND', 'INL', 'ISN', 'ISP', 'ITO', 'JAC', 'JAN', 'JAX', 'JFK', 'JLN', 'JMS', 'JNU', 'KOA', 'KTN', 'LAN', 'LAR', 'LAS', 'LAW', 'LAX', 'LBB', 'LBE', 'LCH', 'LEX', 'LFT', 'LGA', 'LGB', 'LIH', 'LIT', 'LNK', 'LRD', 'LSE', 'LWS', 'MAF', 'MBS', 'MCI', 'MCO', 'MDT', 'MDW', 'MEI', 'MEM', 'MFE', 'MFR', 'MGM', 'MHK', 'MHT', 'MIA', 'MKE', 'MKG', 'MLB', 'MLI', 'MLU', 'MMH', 'MOB', 'MOT', 'MQT', 'MRY', 'MSN', 'MSO', 'MSP', 'MSY', 'MTJ', 'MYR', 'OAJ', 'OAK', 'OGG', 'OKC', 'OMA', 'OME', 'ONT', 'ORD', 'ORF', 'ORH', 'OTH', 'OTZ', 'PAH', 'PBG', 'PBI', 'PDX', 'PHF', 'PHL', 'PHX', 'PIA', 'PIB', 'PIH', 'PIT', 'PLN', 'PNS', 'PPG', 'PSC', 'PSE', 'PSG', 'PSP', 'PUB', 'PVD', 'PWM', 'RAP', 'RDD', 'RDM', 'RDU', 'RHI', 'RIC', 'RKS', 'RNO', 'ROA', 'ROC', 'ROW', 'RST', 'RSW', 'SAF', 'SAN', 'SAT', 'SAV', 'SBA', 'SBN', 'SBP', 'SCC', 'SCE', 'SDF', 'SEA', 'SFO', 'SGF', 'SGU', 'SHV', 'SIT', 'SJC', 'SJT', 'SJU', 'SLC', 'SMF', 'SMX', 'SNA', 'SPI', 'SPS', 'SRQ', 'STC', 'STL', 'STT', 'STX', 'SUN', 'SUX', 'SWF', 'SYR', 'TLH', 'TOL', 'TPA', 'TRI', 'TTN', 'TUL', 'TUS', 'TVC', 'TWF', 'TXK', 'TYR', 'TYS', 'UST', 'VEL', 'VLD', 'VPS', 'WRG', 'XNA', 'YAK', 'YUM']

# Q4 - Find out which origin airport has the largest departure delay on Weekends. (2 points)
Weekend days have the IDs of DAY_OF_WEEK 6 and 7.

In [7]:
weekend_flights = df[df['DAY_OF_WEEK'].isin([6, 7])]
largest_delay = weekend_flights.nlargest(1, ['DEPARTURE_DELAY'])
#print(largest_delay["ORIGIN_AIRPORT"].values[0])

print(f"{str(largest_delay['ORIGIN_AIRPORT'].values[0])} has the largest departure delay when considering only flights on the weekends.")

LAS has the largest departure delay when considering only flights on the weekends.

# Q5 - Find the top 3 Airlines which had the largest mean departure delay in the month of January (2 points)
Month of January has the id of 1. Consider only flights with the positive departure delay.

In [12]:
jan_flights = df[df['MONTH'] == 1]
pos_delay_jan_flights = jan_flights[jan_flights['DEPARTURE_DELAY'] > 0]
airlines = pos_delay_jan_flights[['AIRLINE', 'DEPARTURE_DELAY']].groupby("AIRLINE").mean()
airlines.nlargest(3, ['DEPARTURE_DELAY'])

         DEPARTURE_DELAY
AIRLINE
F9             51.338608
OO             46.357307
MQ             46.133754

## Q6 - What percentage of flights out of Austin (AUS) are canceled? (2 points)
The column field "CANCELLED" will be equal to one of the flight is cancelled.

In [19]:
aus_flights = df[df["ORIGIN_AIRPORT"] == "AUS"]
counts = aus_flights['CANCELLED'].value_counts()
#counts

print(f"{counts[1] / counts[0] * 100:.2f}% of flights out of Austin (AUS) are canceled.")

1.55% of flights out of Austin (AUS) are canceled.

# Q7 - Which origin airport has the most cancellation of departure flights? (2 points)

In [28]:
result = df[['ORIGIN_AIRPORT', 'CANCELLED']].groupby('ORIGIN_AIRPORT').sum()
print(f"{result.nlargest(1, ['CANCELLED']).index[0]} has the most cancellation of departure flights.")

ORD has the most cancellation of departure flights.

## Q8 - Create a histogram plot that shows the data distribution of the arrival delays consider only positive arrival delays and smaller than 200 minutes. Use 10 minutes bin/bucket size. (2 points)

In [ ]:
# Add your code here!

## Q9 -  Plot a scatter plot of  flight travel air time and distance. Describe if there is any corrolation between them. (2 points)

Describe and interpret the correlation between the two variables of distance and air travel time.

In [ ]:
# Add your code here!

In [ ]:
# Add your code here!

# Using the Airpot Dataset.

In [ ]:
# We access the dataset directly from our class GitHub repository.
# We use the same dataset as in Example 3
# https://github.com/kiat/Elements-of-Data-Analytics/blob/main/Code-Example-003-Pandas-Dataframe-Loading-Data.ipynb

airports = pd.read_csv("https://raw.githubusercontent.com/kiat/Elements-of-Data-Analytics/main/datasets/airline/airports.csv")

airports

In [ ]:
airports.info()

# Question - 10: Which top-3 destination cities has the highst average departure delays on Weekends? (2 points)

* Consider only the positive departure delays.
* Weekend flights have a day of week of 6 and 7
* You need to merge the airport dataset with the flight dataset to get the destination city of each flight
* You need to group by city and calculate the mean departure delays
* At the end print out the top 3 of the departure delays with the average delays

In [ ]:
# Add your code here!